<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-data-container">
            <a class="navbar-home-button hidden" href="/" title="Takes to the home page">
                <svg width="24" height="24" viewBox="0 0 100 100" fill="currentColor" transform="translate(0, 2)">
                    <polygon points="0,50 50,0 100,50" />
                    <polygon points="15,50 85,50 85,90 61,90 61,65 39,65 39,90 15,90" />
                </svg>
            </a>
            <h1 class="navbar-title"></h1>
        </div>
        <div class="navbar-data-container">
            <a href="/login" class="navbar-user-a" title="Takes back to login">
                <h3 class="navbar-user"></h3>
            </a>
            <button class="toggle-theme-button" title="Toggles light & dark theme">
                <svg id="navbar-moon-svg" class="hidden" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                        <mask id="moon-mask">
                            <rect x="0" y="0" width="100%" height="100%" fill="white" />
                            <circle cx="20" cy="9" r="10" fill="black" />
                        </mask>
                    </defs>
                    <circle cx="12" cy="12" r="10" fill="currentColor" mask="url(#moon-mask)" />
                </svg>
                <svg id="navbar-sun-svg" class="hidden" width="24" height="24" viewBox="0 0 24 24">
                    <circle cx="12" cy="12" r="6" fill="currentColor" />
                    <g stroke="currentColor">
                        <line x1="12" y1="1" x2="12" y2="3" />
                        <line x1="12" y1="21" x2="12" y2="23" />
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
                        <line x1="1" y1="12" x2="3" y2="12" />
                        <line x1="21" y1="12" x2="23" y2="12" />
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
                    </g>
                </svg>
            </button>
        </div>

    </div>

</nav>
<div style="margin-bottom: 100px;"></div>