.navbar {
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 48px;
    z-index: 1000;
    color: var(--background-color);
    background-color: var(--secondary-color);
}

.navbar-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.navbar-title {
    cursor: default;
}

.navbar-home-button {
    color: var(--background-color);
    margin-right: 10px;
}

.toggle-theme-button {
    background-color: var(--button-background);
    color: var(--button-color);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-theme-button svg {
    width: 24px;
    height: 24px;
}

.toggle-theme-button .sun-and-moon {
    fill: var(--button-color);
    stroke: var(--button-color);
}

.navbar-data-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-user-a {
    text-decoration: none;
    color: var(--button-background);
    margin-right: 10px;
}