<div style="display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;">
    <h3 class="helper-text">Click the buttons to save the current time</h3>
    <div style="display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;">
        <button class="start time-control-btn">start</button>
        <button class="end time-control-btn">end</button>
        <button class="playback time-playback-btn">
            <svg width="24" height="24" viewBox="0 0 100 100" fill="currentColor" class="playback-play">
                <polygon points="0,0 100,50 0,100" />
            </svg>
            <svg width="24" height="24" viewBox="0 0 100 100" fill="currentColor" class="playback-pause hidden">
                <g stroke="currentColor" stroke-width="20">
                    <line x1="25" y1="0" x2="25" y2="100" />
                    <line x1="75" y1="0" x2="75" y2="100" />
                </g>

            </svg>
        </button>
    </div>

    <button class="reset time-reset-btn">Reset</button>
</div>