.unanswered-btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.unanswered-btn {
    position: fixed;
    top: 0;
    margin-top: 55px;
    margin-left: 10px;
    margin-right: 10px;

    z-index: 50;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20%;
    color: var(--background-color);
    background-color: var(--secondary-color);
}

.unanswered-btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.unanswered-btn.prev {
    left: 0;
}

.unanswered-btn.next {
    right: 0;
}