.reset-btn {
    min-width: 200px;
    min-height: 50px;
    background-color: var(--background-color);
    border: 2px solid var(--failure-color);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: var(--text-color);
    margin: 10px;
}

.reset-btn:hover {
    background-color: var(--failure-color);
    color: var(--background-color);
}