.text-labels-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.text-label {
    min-width: 200px;
    min-height: 50px;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: var(--background-color);

    margin: 10px;
}

.text-label:hover {
    /* border: 2px solid var(--primary-color); */
    transform: translateY(-2px);
}