.compare-element-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    margin: 5px;
}

.compare-element-container:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--background-color);

}

.compare-element-label {
    max-width: 300px;
    /* Adjust this value as needed */
    white-space: nowrap;
    /* Prevents text from wrapping to the next line */
    overflow: hidden;
    /* Hides the overflow content */
    text-overflow: ellipsis;
    /* Adds the ellipsis (...) at the end of the text */
}