:root {
    --primary-color: #3c3f41;
    --secondary-color: #1e2022;
    --text-color: #050505;
    --background-color: #e1e5e6;

    --warning-color: #af9c46;
    --warning-color-hover: #ad9424;
    --success-color: #288d26;
    --success-color-hover: #177c16;
    --failure-color: #d43f35;
    --failure-color-hover: #a1251c;
    --disabled-color: #e1e5e6;
    --disabled-color-hover: #e1e5e6;
}

[data-theme="dark"] {
    --primary-color: #c6d2dd;
    --secondary-color: #c3c7ca;
    --text-color: #ffffff;
    --background-color: #1e2022;

    --warning-color: #cfbc67;
    --warning-color-hover: #ceb443;
    --success-color: #6adb68;
    --success-color-hover: #51c44f;
    --failure-color: #d43f35;
    --failure-color-hover: #a1251c;
    --disabled-color: #1e2022;
    --disabled-color-hover: #1e2022;
}