html,
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.container h1 {
    margin: 0;
}

.hidden {
    display: none;
}

/* 
add a root to the page to allow scrollable content, 
while maintaining the body background color.
*/
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    /* Allow scrolling within this div */
}

#content-container {
    height: 100%;
}

#data-content {
    max-width: 1280px;
    width: 80%;
    height: 100%;
}