html,
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
}

.container h1 {
    margin: 0;
}

.hidden {
    display: none;
}